<h1 id="tableLabel">Products</h1>

<p *ngIf="!products?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products.length">
  <thead>
    <tr>
      <th>Sku</th>
      <th>Product Name</th>
      <th>Store Name</th>
      <th>Price (INR)</th>
      <th>Date (UTC)</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.sku }}</td>
      <td>{{ product.productName }}</td>
      <td>{{ product.storeName }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.effectiveStartDate | date:'short'}}</td>
      <td>
        <div class="col-md-6"><button class="btn-primary">Edit</button></div>
      </td>
    </tr>
  </tbody>
</table>